body {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    text-align: center;
    color: blueviolet;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

.card-body {
    margin-top: 10px;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card-text {
    color: #555;
}

.btn {
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.btn:hover {
    background-color: #0056b3;
}